* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 7vh;
  padding: 0 5%;
  color: aliceblue;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-btn {
  padding-right: 10px;
}
.btn:hover {
  color: tomato;
}

.content {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(400px, 1fr)); */
  gap: 20px;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 8px;
  height: 400px;
}

.book-img {
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  color: aliceblue;
  text-align: start;
}

.book-card h1 {
  font-size: 1.5rem;
  padding: 5px 0;
  flex: auto;
  text-align: center;
}

.hasRead {
  width: 80%;
  display: flex;
  flex: 1;
  gap: 10px;
}

.delete-btn {
  margin-left: auto;
}
